# Files to ignore
.DS_Store
.DS_Store?
BlankProject/BlankProject.xcodeproj/project.xcworkspace/xcuserdata/*
BlankProject/BlankProject.xcodeproj/project.xcworkspace/xcshareddata/*
BlankProject/BlankProject.xcodeproj/xcuserdata/*

